/* styl.css */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(128,128,128,0.85); /* šedá s průhledností */
    color: green;
    padding: 20px 0;
    text-align: center;
    border-radius: 12px; /* zakulacené rohy */
    margin: 16px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 40px auto;
    background: rgba(255,255,255,0.70);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}

footer {
    background: rgba(34,34,34,0.85); /* tmavá s průhledností */
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 12px 12px 0px 0px; /* zakulacené rohy */
    margin: 0 0 1px 0;

}