<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>SkeliCZ</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.github.skeliit.DbInit</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.github.skeliit.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.github.skeliit.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.github.skeliit.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentsServlet</servlet-name>
        <servlet-class>com.github.skeliit.CommentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentsServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VotesServlet</servlet-name>
        <servlet-class>com.github.skeliit.VotesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VotesServlet</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.github.skeliit.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.github.skeliit.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>YouTubeSyncServlet</servlet-name>
        <servlet-class>com.github.skeliit.YouTubeSyncServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YouTubeSyncServlet</servlet-name>
        <url-pattern>/admin/sync</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminVideoServlet</servlet-name>
        <servlet-class>com.github.skeliit.AdminVideoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminVideoServlet</servlet-name>
        <url-pattern>/admin/video</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminCommentServlet</servlet-name>
        <servlet-class>com.github.skeliit.AdminCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCommentServlet</servlet-name>
        <url-pattern>/admin/comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LyricRouterServlet</servlet-name>
        <servlet-class>com.github.skeliit.LyricRouterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LyricRouterServlet</servlet-name>
        <url-pattern>/lyrics/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>com.github.skeliit.AdminUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EllipticPlayerServlet</servlet-name>
        <servlet-class>com.github.skeliit.EllipticPlayerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EllipticPlayerServlet</servlet-name>
        <url-pattern>/elliptic</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
